@charset "utf-8";

* {
  box-sizing: border-box;
}
body {
  margin: 0%;
}
header,
footer,
nav,
main,
article {
  border: 1px solid gray;
  padding: 10px;
}

main {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
    "h h"
    "n a"
    "f f";
}

header {
  grid-area: h;
}

nav {
  grid-area: n;
}

article {
  grid-area: a;
}
footer {
  grid-area: f;
  /*menü formázása*/
}
nav a {
  text-decoration: none;
  display: block;
  color: lightcoral;
}
nav ul {
  list-style-type:none;
  padding: 0;
}
nav a:hover {
  color: pink;
}
/*reszponzív*/
main {
  text-align: justify;
  width: 80%; /*width esetén a méret szazalékos*/
  max-width: 800px;
  margin: auto;
}

/*űrlap formázása*/

#nevek {
  display: grid;
  grid-template-columns: 100px auto;
 

}
#nevek {
  text-align: right;
  padding-right: 5px;
}
@media screen and (max-width: 600px) {
  main {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  main {
    grid-template-columns: 1fr; /*repeat(4,1fr*/
    grid-template-areas:
      "h"
      "n"
      "a"
      "f";
  }
  /*navigáció li tagjei kerüljenek egymás mellé*/
  nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #nevek {
    grid-template-columns: auto;
   
  
  }
  #nevek {
    text-align: left;
  
  }
}

